# To use aliases, read the file aliases.md

# SYMFONY ALIASES
alias pc='de php bin/console'
alias pu='de php bin/phpunit'
alias stan='de vendor/bin/phpstan analyse --level=6 --memory-limit=-1 src'
alias ecs='de vendor/bin/ecs --fix'

# DOCKER ALIASES
alias dc='docker compose'
alias de='docker exec -ti backend-php-1'
alias du='docker compose up -d --wait'
alias db='docker compose up -d --build'
alias dbc='docker compose build --no-cache'

# OTHER ALIASES
alias c=clear
